<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Motorola 68000 Assembler</string>
	<key>BBLMLanguageCode</key>
	<string>M68K</string>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.x68</string>
		</dict>
	</array>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>abcd</string>
		<string>add</string>
		<string>adda</string>
		<string>addi</string>
		<string>addq</string>
		<string>addx</string>
		<string>align</string>
		<string>and</string>
		<string>andi</string>
		<string>asl</string>
		<string>asr</string>
		<string>bcc</string>
		<string>bchg</string>
		<string>bclr</string>
		<string>bcs</string>
		<string>beq</string>
		<string>bfchg</string>
		<string>bfclr</string>
		<string>bfexts</string>
		<string>bfextu</string>
		<string>bfffo</string>
		<string>bfins</string>
		<string>bfset</string>
		<string>bftst</string>
		<string>bge</string>
		<string>bgnd</string>
		<string>bgt</string>
		<string>bhi</string>
		<string>bkpt</string>
		<string>ble</string>
		<string>bls</string>
		<string>blt</string>
		<string>bmi</string>
		<string>bne</string>
		<string>bpl</string>
		<string>bra</string>
		<string>bset</string>
		<string>bsr</string>
		<string>btst</string>
		<string>bvc</string>
		<string>bvs</string>
		<string>callm</string>
		<string>cas</string>
		<string>cas2</string>
		<string>chk</string>
		<string>chk2</string>
		<string>cinv</string>
		<string>clr</string>
		<string>cmp</string>
		<string>cmp2</string>
		<string>cmpa</string>
		<string>cmpi</string>
		<string>cmpm</string>
		<string>cpbcc</string>
		<string>cpbcs</string>
		<string>cpbeq</string>
		<string>cpbge</string>
		<string>cpbgt</string>
		<string>cpbhi</string>
		<string>cpble</string>
		<string>cpbls</string>
		<string>cpbmi</string>
		<string>cpbne</string>
		<string>cpbpl</string>
		<string>cpbvc</string>
		<string>cpbvs</string>
		<string>cpdbcc</string>
		<string>cpdbcs</string>
		<string>cpdbeq</string>
		<string>cpdbge</string>
		<string>cpdbgt</string>
		<string>cpdbhi</string>
		<string>cpdble</string>
		<string>cpdbls</string>
		<string>cpdbmi</string>
		<string>cpdbne</string>
		<string>cpdbpl</string>
		<string>cpdbvc</string>
		<string>cpdbvs</string>
		<string>cpgen</string>
		<string>cprestore</string>
		<string>cpsave</string>
		<string>cpscc</string>
		<string>cpscs</string>
		<string>cpseq</string>
		<string>cpsge</string>
		<string>cpsgt</string>
		<string>cpshi</string>
		<string>cpsle</string>
		<string>cpsls</string>
		<string>cpsmi</string>
		<string>cpsne</string>
		<string>cpspl</string>
		<string>cpsvc</string>
		<string>cpsvs</string>
		<string>cptrapcc</string>
		<string>cptrapcs</string>
		<string>cptrapeq</string>
		<string>cptrapge</string>
		<string>cptrapgt</string>
		<string>cptraphi</string>
		<string>cptraple</string>
		<string>cptrapls</string>
		<string>cptrapmi</string>
		<string>cptrapne</string>
		<string>cptrappl</string>
		<string>cptrapvc</string>
		<string>cptrapvs</string>
		<string>cpush</string>
		<string>dbcc</string>
		<string>dbcs</string>
		<string>dbeq</string>
		<string>dbf</string>
		<string>dbge</string>
		<string>dbgt</string>
		<string>dbhi</string>
		<string>dble</string>
		<string>dbls</string>
		<string>dblt</string>
		<string>dbmi</string>
		<string>dbne</string>
		<string>dbpl</string>
		<string>dbra</string>
		<string>dbt</string>
		<string>dbvc</string>
		<string>dbvs</string>
		<string>dc</string>
		<string>divs</string>
		<string>divsl</string>
		<string>divu</string>
		<string>divul</string>
		<string>ds</string>
		<string>end</string>
		<string>endf</string>
		<string>endfunc</string>
		<string>endmain</string>
		<string>endp</string>
		<string>endproc</string>
		<string>eor</string>
		<string>eori</string>
		<string>equ</string>
		<string>exg</string>
		<string>ext</string>
		<string>extb</string>
		<string>fabs</string>
		<string>facos</string>
		<string>fadd</string>
		<string>fasin</string>
		<string>fatan</string>
		<string>fatanh</string>
		<string>fbcc</string>
		<string>fbcs</string>
		<string>fbeq</string>
		<string>fbge</string>
		<string>fbgt</string>
		<string>fbhi</string>
		<string>fble</string>
		<string>fbls</string>
		<string>fbmi</string>
		<string>fbne</string>
		<string>fbpl</string>
		<string>fbvc</string>
		<string>fbvs</string>
		<string>fcmp</string>
		<string>fcos</string>
		<string>fcosh</string>
		<string>fdabs</string>
		<string>fdadd</string>
		<string>fdbcc</string>
		<string>fdbcs</string>
		<string>fdbeq</string>
		<string>fdbge</string>
		<string>fdbgt</string>
		<string>fdbhi</string>
		<string>fdble</string>
		<string>fdbls</string>
		<string>fdbmi</string>
		<string>fdbne</string>
		<string>fdbpl</string>
		<string>fdbvc</string>
		<string>fdbvs</string>
		<string>fddiv</string>
		<string>fdiv</string>
		<string>fdmove</string>
		<string>fdmul</string>
		<string>fdneg</string>
		<string>fdsqrt</string>
		<string>fdsub</string>
		<string>fetox</string>
		<string>fetoxm1</string>
		<string>fgetexp</string>
		<string>fgetman</string>
		<string>fint</string>
		<string>fintrz</string>
		<string>flog10</string>
		<string>flog2</string>
		<string>flogn</string>
		<string>flognp1</string>
		<string>fmod</string>
		<string>fmove</string>
		<string>fmovecr</string>
		<string>fmovem</string>
		<string>fmul</string>
		<string>fneg</string>
		<string>fnop</string>
		<string>fpu</string>
		<string>frem</string>
		<string>frestore</string>
		<string>fsabs</string>
		<string>fsadd</string>
		<string>fsave</string>
		<string>fscale</string>
		<string>fscc</string>
		<string>fscs</string>
		<string>fsdiv</string>
		<string>fseq</string>
		<string>fsge</string>
		<string>fsgldiv</string>
		<string>fsglmul</string>
		<string>fsgt</string>
		<string>fshi</string>
		<string>fsin</string>
		<string>fsincos</string>
		<string>fsinh</string>
		<string>fsle</string>
		<string>fsls</string>
		<string>fsmi</string>
		<string>fsmove</string>
		<string>fsmul</string>
		<string>fsne</string>
		<string>fsneg</string>
		<string>fspl</string>
		<string>fsqrt</string>
		<string>fssqrt</string>
		<string>fssub</string>
		<string>fsub</string>
		<string>fsvc</string>
		<string>fsvs</string>
		<string>ftan</string>
		<string>ftanh</string>
		<string>ftentox</string>
		<string>ftrapcc</string>
		<string>ftrapcs</string>
		<string>ftrapeq</string>
		<string>ftrapge</string>
		<string>ftrapgt</string>
		<string>ftraphi</string>
		<string>ftraple</string>
		<string>ftrapls</string>
		<string>ftrapmi</string>
		<string>ftrapne</string>
		<string>ftrappl</string>
		<string>ftrapvc</string>
		<string>ftrapvs</string>
		<string>ftst</string>
		<string>ftwotox</string>
		<string>func</string>
		<string>illegal</string>
		<string>jmp</string>
		<string>jsr</string>
		<string>lea</string>
		<string>link</string>
		<string>lpstop</string>
		<string>lsl</string>
		<string>lsr</string>
		<string>machine</string>
		<string>main</string>
		<string>mmu</string>
		<string>move</string>
		<string>move16</string>
		<string>movea</string>
		<string>movem</string>
		<string>movep</string>
		<string>moveq</string>
		<string>muls</string>
		<string>mulu</string>
		<string>nbcd</string>
		<string>neg</string>
		<string>negx</string>
		<string>nop</string>
		<string>not</string>
		<string>opword</string>
		<string>or</string>
		<string>org</string>
		<string>ori</string>
		<string>pack</string>
		<string>pbcc</string>
		<string>pbcs</string>
		<string>pbeq</string>
		<string>pbge</string>
		<string>pbgt</string>
		<string>pbhi</string>
		<string>pble</string>
		<string>pbls</string>
		<string>pbmi</string>
		<string>pbne</string>
		<string>pbpl</string>
		<string>pbvc</string>
		<string>pbvs</string>
		<string>pdbcc</string>
		<string>pdbcs</string>
		<string>pdbeq</string>
		<string>pdbge</string>
		<string>pdbgt</string>
		<string>pdbhi</string>
		<string>pdble</string>
		<string>pdbls</string>
		<string>pdbmi</string>
		<string>pdbne</string>
		<string>pdbpl</string>
		<string>pdbvc</string>
		<string>pdbvs</string>
		<string>pea</string>
		<string>pflush</string>
		<string>pflusha</string>
		<string>pflushr</string>
		<string>pflushs</string>
		<string>pload</string>
		<string>pmove</string>
		<string>prestore</string>
		<string>proc</string>
		<string>psave</string>
		<string>pscc</string>
		<string>pscs</string>
		<string>pseq</string>
		<string>psge</string>
		<string>psgt</string>
		<string>pshi</string>
		<string>psle</string>
		<string>psls</string>
		<string>psmi</string>
		<string>psne</string>
		<string>pspl</string>
		<string>psvc</string>
		<string>psvs</string>
		<string>ptest</string>
		<string>ptrapcc</string>
		<string>ptrapcs</string>
		<string>ptrapeq</string>
		<string>ptrapge</string>
		<string>ptrapgt</string>
		<string>ptraphi</string>
		<string>ptraple</string>
		<string>ptrapls</string>
		<string>ptrapmi</string>
		<string>ptrapne</string>
		<string>ptrappl</string>
		<string>ptrapvc</string>
		<string>ptrapvs</string>
		<string>pvalid</string>
		<string>reset</string>
		<string>rol</string>
		<string>ror</string>
		<string>roxl</string>
		<string>roxr</string>
		<string>rtd</string>
		<string>rte</string>
		<string>rtm</string>
		<string>rtr</string>
		<string>rts</string>
		<string>sbcd</string>
		<string>scc</string>
		<string>scs</string>
		<string>seq</string>
		<string>set</string>
		<string>sf</string>
		<string>sge</string>
		<string>sgt</string>
		<string>shi</string>
		<string>simhalt</string>
		<string>sle</string>
		<string>sls</string>
		<string>slt</string>
		<string>smi</string>
		<string>sne</string>
		<string>spl</string>
		<string>st</string>
		<string>start</string>
		<string>stop</string>
		<string>sub</string>
		<string>suba</string>
		<string>subi</string>
		<string>subq</string>
		<string>subx</string>
		<string>svc</string>
		<string>svs</string>
		<string>swap</string>
		<string>tas</string>
		<string>tbls</string>
		<string>tblsn</string>
		<string>tblu</string>
		<string>tblun</string>
		<string>tcc</string>
		<string>tcs</string>
		<string>teq</string>
		<string>tf</string>
		<string>tge</string>
		<string>tgt</string>
		<string>thi</string>
		<string>tle</string>
		<string>tls</string>
		<string>tlt</string>
		<string>tmi</string>
		<string>tne</string>
		<string>tpl</string>
		<string>trap</string>
		<string>trapcc</string>
		<string>trapcs</string>
		<string>trapeq</string>
		<string>trapf</string>
		<string>trapge</string>
		<string>trapgt</string>
		<string>traphi</string>
		<string>traple</string>
		<string>traplt</string>
		<string>trapmi</string>
		<string>trapne</string>
		<string>trappl</string>
		<string>trapt</string>
		<string>trapv</string>
		<string>trapvc</string>
		<string>trapvs</string>
		<string>tst</string>
		<string>tt</string>
		<string>tvc</string>
		<string>tvs</string>
		<string>unlk</string>
		<string>unpk</string>
		<string>b</string>
		<string>l</string>
		<string>s</string>
		<string>w</string>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>a0</string>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
		<string>a5</string>
		<string>a6</string>
		<string>a7</string>
		<string>d0</string>
		<string>d1</string>
		<string>d2</string>
		<string>d3</string>
		<string>d4</string>
		<string>d5</string>
		<string>d6</string>
		<string>d7</string>
		<string>sp</string>
		<string>sr</string>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_</string>
		<key>Number Pattern</key>
		<string><![CDATA[(?<![\d\w.])(?:(#[$%]?|[$%])[A-Fa-f0-9]+)(?=\b)]]></string>
		<key>String Pattern</key>
		<string><![CDATA[("(\\"|[^"\r]|\\\r)*")|('(\\'|[^'\r]|\\\r)*')]]></string>
		<key>Function Pattern</key>
		<string><![CDATA[(?P<leadspace>^\s*)(?P<function>^(?P<function_name>[A-Za-z0-9_]+):\r(?P=leadspace))]]></string>
		<key>Comment Pattern</key>
		<string><![CDATA[([;*](?![;*]).*?$)]]></string>
		<key>Skip Pattern</key>
		<string><![CDATA[(?P>comment)|(?P>string)]]></string>
	</dict>
</dict>
</plist>
